*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}



.header-area{
  background: #F2E1D9;
  padding: 38px;
  display: flex;
  justify-content: space-between;
}

.header-left{
display: flex;
}

.header-left>ul>li{
  padding: 15px;
}

.header-left>ul{
  display: flex;
}



.header-right{
  display: flex;
}

.header-search{
  display: flex;
}

.header-profile{
  display: flex;
}
